
<h1>Listando produtos</h1>

<h3>Filtro</h3>

<div class="my-3">
    <h4>Stacks</h4>
    <app-checkbox-group [items]="stacks" (toggle)="onStacksChange($event)"></app-checkbox-group>
</div>

<div class="my-3">
    <h4>Target Market</h4>
    <app-checkbox-group [items]="targetMarket" (toggle)="onTargetMarketChange($event)"></app-checkbox-group>
</div>

<button (click)="filtrarProduto()" class="btn btn-primary">Fitrar</button>  

<table class="mt-4 table table-striped">   
    <thead>
    <tr>
        <th scope="col">Nome</th>       
        <th scope="col">Descrição</th>     
        <th scope="col">Mercado alvo</th>     
        <th scope="col">Tecnologias utilizadas</th>     
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
          <td><h4>{{ produto.productName}}</h4></td>
          <td>{{ produto.description}}</td>        
          <td><span *ngFor="let t of produto.targetMarket; last as isTLast">{{t.name}}<span *ngIf="!isTLast">, </span></span></td>
          <td><span *ngFor="let s of produto.stack; last as isLast">{{s.name}}<span *ngIf="!isLast">, </span></span></td>
        </tr>
    </tbody>
</table>